@import 'colors/colors.css';

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", "monospace";
    font-size: 14px;
    font-weight: 600;
    min-height: 0;
    color: @surface_container_highest ;
}

window#waybar {
    background: transparent;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces {
    margin-top: 8px;
}

#workspaces button {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: @primary;

}

#workspaces button:hover {
    color: #1e1e2e;
}

#workspaces button.active {
    background-color: #1e1e2e;
    padding: 0 15px;
    color: #89b4fa;
}


#mode,
#clock,
#clock.simpleclock {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock,
#clock.simpleclock {
    background-color: @primary;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

#mpris {
    padding: 0.3rem 0.6rem;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 6px;
    /* background-color: #181825; */
    background-color: @primary
}

#mpris.playing {
    color: #739395;
}

#mpris.paused {
    color: #2d45a2;
}

@keyframes blink {
    to {
        background-color: @primary;
        color: black;
    }
}

#window {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    color: black;
}

window#waybar.empty #window {
    background-color: transparent;
}


#custom-notification {
    padding: 0 10px;
    background-color: @primary;
    margin: 0 10px;
    color: black;
    border-radius: 10px;
    margin-top: 5px;
}

#tray {
    padding: 0 10px;
    background-color: @primary;
    margin: 0 10px;
    color: black;
    border-radius: 10px;
    margin-top: 5px;
}

#custom-powered {
    padding: 0 10px;
    background-color: @primary;
    margin: 0 10px;
    color: black;
    border-radius: 10px;
    margin-top: 5px;
}

#memory {
    padding: 0 10px;
    background-color: @primary;
    margin: 0 10px;
    color: black;
    border-radius: 10px;
    margin-top: 5px;

}

#cpu {
    padding: 0 10px;
    background-color: @primary;
    margin: 0 10px;
    color: black;
    border-radius: 10px;
    margin-top: 5px;
}

#pulseaudio {
    padding: 0 10px;
    background-color: @primary;
    margin: 0 10px;
    color: black;
    border-radius: 10px;
    margin-top: 5px;

}

#custom-power {
    padding: 0 10px;
    background-color: @primary;
    margin: 0 10px;
    color: black;
    border-radius: 10px;
    margin-top: 5px;

}

#network {
    padding: 0 10px;
    background-color: @primary;
    margin: 0 10px;
    color: black;
    border-radius: 10px;
    margin-top: 5px;
}

tooltip {
    background-color: #181825;
    border: 2px solid #89b4fa;
}